/* 改变主题色变量 */
$--color-primary: #0066ff !default;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

$--color-danger-light-1: mix(
  $--color-white,
  $--color-danger,
  10%
) !default; /* 53a8ff */
$--color-danger-light-2: mix(
  $--color-white,
  $--color-danger,
  20%
) !default; /* 66b1ff */
$--color-danger-light-3: mix(
  $--color-white,
  $--color-danger,
  30%
) !default; /* 79bbff */
$--color-danger-light-4: mix(
  $--color-white,
  $--color-danger,
  40%
) !default; /* 8cc5ff */
$--color-danger-light-5: mix(
  $--color-white,
  $--color-danger,
  50%
) !default; /* a0cfff */
$--color-danger-light-6: mix(
  $--color-white,
  $--color-danger,
  60%
) !default; /* b3d8ff */
$--color-danger-light-7: mix(
  $--color-white,
  $--color-danger,
  70%
) !default; /* c6e2ff */
$--color-danger-light-8: mix(
  $--color-white,
  $--color-danger,
  80%
) !default; /* d9ecff */
$--color-danger-light-9: mix(
  $--color-white,
  $--color-danger,
  90%
) !default; /* ecf5ff */

$--color-warning-light-1: mix(
  $--color-white,
  $--color-warning,
  10%
) !default; /* 53a8ff */
$--color-warning-light-2: mix(
  $--color-white,
  $--color-warning,
  20%
) !default; /* 66b1ff */
$--color-warning-light-3: mix(
  $--color-white,
  $--color-warning,
  30%
) !default; /* 79bbff */
$--color-warning-light-4: mix(
  $--color-white,
  $--color-warning,
  40%
) !default; /* 8cc5ff */
$--color-warning-light-5: mix(
  $--color-white,
  $--color-warning,
  50%
) !default; /* a0cfff */
$--color-warning-light-6: mix(
  $--color-white,
  $--color-warning,
  60%
) !default; /* b3d8ff */
$--color-warning-light-7: mix(
  $--color-white,
  $--color-warning,
  70%
) !default; /* c6e2ff */
$--color-warning-light-8: mix(
  $--color-white,
  $--color-warning,
  80%
) !default; /* d9ecff */
$--color-warning-light-9: mix(
  $--color-white,
  $--color-warning,
  90%
) !default; /* ecf5ff */